/* GLOBAL RESETS */

* { box-sizing: border-box; }

// VARIABLES

$color-text-body: rgb(0 0 0 / .8);
$color-text-body-light: rgb(255 255 255 / .8);
$color-text-headings: rgb(0 0 0 / 1);
$color-text-headings-light: rgb(255 255 255 / 1);
$color-accent: rgb(149 81 169);;
$color-accent-dark: rgb(23 24 27);
$color-accent-light: rgb(174, 234, 228);
$color-lightgrey: rgb(0 0 0 / .3);

$font-family-sans: 'Avenir Next', Arial, Helvetica, sans-serif;
$font-family-serif: Georgia,'Times New Roman', Times, serif;

// BREAKPOINTS

$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

// IMPORTS

@import "partials/toc";
@import "partials/typography";
@import "partials/buttons";
@import "partials/media";
@import "partials/layout";
@import "partials/grid"; 
@import "partials/structure";  
