/* CSS ANIMATIONS */

/* ANIMATE SECTION 1 ON SCROLL */

#section1.scroll-triggered[data-sectionstate="inactive"] {
    
    .contentblock-img {
        opacity: 0;
        transform: translateX(-200px);
    }

    .contentblock-text {
        opacity: 0;
        transform: translateX(200px);
    }

}

#section1.scroll-triggered[data-sectionstate="active"] {
    
    .contentblock-img {
        opacity: 1;
        transform: translateX(0px);
        transition: all 1s ease-out;
    }

    .contentblock-text {
        opacity: 1;
        transform: translateX(0px);
        transition: all 1s ease-out;
    }

}