/* SITE NAV */

.site-nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    a {
        display: inline-block;
        padding: 1em;
        line-height: 1;
    }
}

.site-header {

    .site-nav {

        ul {
        background: rgb(11 190 160);
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translate(0, 0);
        transition: all .3s ease-out;
        }

        &[data-navstate="closed"] {
            ul {
                transform: translate(100%, 0);
            }

        }

        .menu-button {
            background-color: transparent;
            border: none;
            color: #ffff;
            padding: .7em;
            position: relative;
            z-index: 20;

            svg {
                display: block;

                rect {
                    fill: #ffff;
                    transform-origin: center;
                    transition: all .3s ease-out;
                }
            }

        }

        &[data-navstate="open"] .menu-button svg {

            rect {
                fill: #ffff;
            }

            #menubar-top {
                transform: translate(-5px, 9px)
                rotate(30deg);
            }

            #menubar-mid {
                transform: scale(0, 1);
            }

            #menubar-bot {
                transform: translate(-5px, -9px)
                rotate(-30deg);
            }

        }

    }

}