/* SITE STRUCTURE */

.site-header {
    position: absolute;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .site-id {
        display: flex;
        align-items: center;
    }

    .logomark {
        margin-right: 1em;
    }
    
    a {
        color: #fff;
        text-decoration: none;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
    }
}
/* SITE FOOTER */

.site-footer {
    background: $color-accent-dark;
    display: flex;
    justify-content: center;
    padding: .5em;

    a {
        color: #fff;
        text-decoration: none;
    }
}

.site-main {
    overflow-x: hidden;
}

section {
    padding: 4em 0;
    min-height: 101vh;
    display: flex;
    align-items: center;
}

/* HERO SECTION */

.hero {
    background: $color-accent-dark;
    text-align: left;
    padding: 8em 0 4em 0;
    min-height: 101vh;
    color: $color-text-body-light;
    // display: flex;
    align-items: left;

    h1 {
        margin-bottom: .35em;
        color: $color-text-headings-light;
    }

    p {
        // margin: 1em auto;
    }
}