/* SITE STRUCTURE */

.site-header {
    position: absolute;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a {
        color: #fff;
        text-decoration: none;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
    }
}
/* SITE FOOTER */

.site-footer {
    background: $color-accent-dark;
    display: flex;
    justify-content: center;

    a {
        color: #fff;
        text-decoration: none;
    }
}

/* SITE NAV */

.site-nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    a {
        display: inline-block;
        padding: 1em;
        line-height: 1;
    }
}

section {
    padding: 4em 0;
}

/* HERO SECTION */

.hero {
    background: $color-accent-dark;
    text-align: center;
    padding: 8em 0 4em 0;
    min-height: 100vh;
    color: $color-text-body-light;
    display: flex;
    align-items: center;

    h1 {
        margin-bottom: .25em;
        color: $color-text-headings-light;

    }

    p {
        margin: 1em auto;
    }
}